div.window {
    width: 100%;
    height: 500px;
    border: 1px solid #000;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #222;
}
div.map {
    width: 1892px; /* (bulding width + border + padding) * 22 */
    height: 1892px; /* (bulding width + border + padding) * 22 */
    background: #6C3;
    position: relative;
    top: -650px;
    left: -650px;
}

div.building, div.terrain {
    position: absolute;
}
div.terrain a {
    display: block;
    width: 80px;
    height: 80px;
    font-size: 8pt;
    padding: 3px;
    text-decoration: none;
}

div.terrain.forest a {
    background: #030;
    color: #FFF;
}
div.terrain.lake a {
    background: #9CF;
    color: #000;
}
