div.window {
    width: 0px;
    height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #222;
    position: absolute;
    top: 85px;
    left: 340px;
}
div.map {
    background: #6A3;
    position: relative;
}
body.continent div.map {
    width: 1032px; /* (building_width + border + padding) * (num_cells_x + 2) */
    height: 1032px; /* (building_width + border + padding) * (num_cells_y + 2) */
    top: 20px;
    left: 20px;
/*  width: 1892px;
    height: 1892px;
    top: -650px;
    left: -650px; */
}
body.settlement div.map {
    width: 1032px; /* (building_width + border + padding) * (num_cells_x + 2) */
    height: 1032px; /* (building_width + border + padding) * (num_cells_y + 2) */
    top: 20px;
    left: 20px;
}

div.building, div.terrain, div.empty-cell, div.settlement {
    position: absolute;
}
div.terrain a, div.settlement a, div.empty-cell a {
    display: block;
    width: 80px;
    height: 80px;
    font-size: 7pt;
    padding: 3px;
    text-decoration: none;
}
div.building a {
    display: block;
    border: 1px solid #6A3;
    width: 74px;
    height: 80px;
    font-size: 7pt;
    padding: 2px 5px;
    text-decoration: none;
}

div.terrain.forest a {
    background: #030;
    color: #FFF;
}
div.terrain.lake a {
    background: #36C;
    color: #FFF;
}
div.terrain.hill a {
    background: #363;
    color: #FFF;
}
div.terrain.mountain a {
    background: #CCC;
    color: #000;
}

div.building a {
    background: #663;
    color: #FFF;
}

div.settlement a {
    background: #336;
    color: #FFF;
}

div.empty-cell {
    width: 80px;
    height: 80px;
    padding: 2px;
    background: transparent;
}
div.empty-cell:hover {
    border: 1px dotted yellow;
}

span.details {
    color: transparent;
    font-family: Helvetica;
}
div.terrain a:hover span.details {
    color: #FFF;
}
div.terrain.mountain a:hover span.details {
    color: #000;
}