div.window {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    overflow-x: hidden;
    overflow-y: hidden;
}
div.map {
    width: 2100px;
    height: 2100px;
    background: #EEE;
    position: relative;
}

div.building {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}