body {
    background: url(/site_media/static/img/paper_texture2-512px.jpg) #CDBB89;
    font-family: "rieven-uncial-1","rieven-uncial-2",sans-serif;
    color: #000;
}

a, a:visited {
    color: #900;
}
a:hover {
    color: #C00;
}

#tabhead {
    background: url(/site_media/static/img/paper_texture_1-512px.jpg) #7F6230;
    border-bottom: 1px solid #000; /* tab border */
    position: relative;
}
#tabhead .logo {
    padding: 10px 30px 5px;
    font-size: 24pt;
    height: 50px;
}
#tabhead .logo a {
    color: #210;
    text-shadow: 1px 1px 0px #974;
    text-decoration: none;
}
#tabhead .logo a:hover {
    color: #000;
    text-shadow: 0px 0px 5px #333;
}

#tabhead .account-bar {
    position: absolute;
    top: 6px;
    right: 15px;
    color: #FFF;
}
#tabhead .login, #tabhead .login a, #tabhead .login a:visited {
    color: #210;
    text-shadow: 1px 1px 0px #974;
}
#tabhead .login a:hover {
    color: #000;
    text-shadow: none;
}


#subnav {
    margin: 0;
    padding: 0;
    background: url(/site_media/static/img/paper_texture4-512px.jpg) #876721;
    border-bottom: 1px solid #000;
    font-weight: normal;
}
#subnav ul {
    float: right;
    margin: 0 50px;
    padding: 0;
}
#subnav ul li {
    display: inline;
    list-style-type: none;
    font-size: 12pt;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: normal;
    text-decoration: none;
    color: #210;
    text-shadow: 1px 1px 0px #974;
    padding: 3px 10px 2px;
}
#subnav ul a:hover {
    color: #FFF;
    background: #974;
}

.uniForm {
    background: url(/site_media/static/img/paper_texture_1-512px.jpg) #7F6230;
}
.uniForm .inlineLabels .formHint {
    color: #FF9;
    text-shadow: -1px -1px 0px #000;
}
.uniForm label {
    color: #FF9;
    text-shadow: -1px -1px 0px #000;
}
.uniForm .ctrlHolder.focused {
    background: url(/site_media/static/img/paper_texture4-512px.jpg) #876721;
}
.legal {
    color: #000;
}
input[type="text"], input[type="password"], textarea {
    font-family: "rieven-uncial-1","rieven-uncial-2",sans-serif;
    background: #FFF;
}

h1 {
    margin-top: 50px;
    text-shadow: 0px 0px 3px #321;
}
h2 {
    text-shadow: 0px 0px 3px #321;
}