{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to Manoria" %}</h1>
    
    {% if user.is_authenticated %}
        {% if user.players.all %}
            <p>Select a player:</p>
            <ul>
                {% for player in user.players.all %}
                    <li><a href="{% url player_detail player.name %}">{{ player.name }}</a></li>
                {% endfor %}
            </ul>
            
            <p>You can also <a href="{% url player_create %}">create another player</a>.</p>
            
        {% else %}
            <p>To play Manoria, <a href="{% url player_create %}">create a player</a>.</p>
        {% endif %}
    {% else %}
        <p>To play Manoria, first sign up and log in!</p>
    {% endif %}
    
{% endblock %}
