{% load humanize %}
{% load manoria_tags %}

{% if settlement.resource_counts %}
    {% for resource_count in settlement.resource_counts %}
        <div class="resource-count">
            <span class="resource">{{ resource_count.kind.name }}</span>
            <span class="rate">({{ resource_count.rate|format_rate }}/hr;
                {% if resource_count.limit %}limit {{ resource_count.limit|intcomma }}{% else %}no limit{% endif %})
            </span>
            <span class="count" id="{{ resource_count.kind.slug }}-count">{{ resource_count.amount|intcomma }}</span>
        </div>
    {% endfor %}
{% else %}
    <p>No resources in this settlement.</p>
{% endif %}
