{% extends "site_base.html" %}

{% block head_title %}{{ building.kind.name }}{% endblock %}

{% block body_class %}building{% endblock %}

{% block body %}
    
    <p>
        <a href="{% url player_detail building.settlement.player.pk %}">{{ building.settlement.player.name }}</a>
        &gt;
        <a href="{% url settlement_detail building.settlement.pk %}">{{ building.settlement.name }}</a>
    </p>
    
    <h1>{{ building.kind.name }} ({{ building.status }})</h1>
    
    <p><b>Location</b>: {{ building.settlement.name }} {{ building.x }}-{{ building.y }}</p>
    
    <p>
        <b>Construction start</b>: {{ building.construction_start }}
        <br />
        <b>Construction end</b>: {{ building.construction_end }}
    </p>
    
{% endblock %}
