{% load uni_form_tags %}

<h1>Create a building</h1>

<p><b>Location</b>: {{ settlement.name }}</p>

{{ form.non_field_errors }}
{{ form.kind.errors }}

{% for building in buildings %}
    <div id="building-{{ building.building_kind.pk }}" class="building-select {% if building.sufficient %}building-sufficient{% else %}building-insufficient{% endif %}">
        <span class="building-kind">{{ building.building_kind }}</span>
        <span class="costs">
            {% for cost in building.costs %}
                {% if cost.sufficient %}
                    <span class="cost-sufficient">
                {% else %}
                    <span class="cost-insufficient">
                {% endif %}
                        {{ cost.amount }}
                        {{ cost.resource_kind }}
                    </span>
            {% endfor %}
        </span>
    </div>
{% endfor %}

<form id="building_form" method="post" action="{% url building_create settlement.pk %}">
    {% csrf_token %}
    {% for field in form %}
        {{ field }}
    {% endfor %}
</form>

<script>
    $(function() {
        $(".building-select.building-sufficient").click(function() {
            kind_id = this.id.split("-")[1];
            $("#id_kind").val(kind_id);
            $("#building_form").submit();
        });
    });
</script>