{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}Help : Resources{% endblock %}

{% block body_class %}help{% endblock %}

{% block body_outer %}
    
    <div class="left-panel">
        {% include "manoria/_player_left_panel.html" %}
    </div>
    
    <div class="main-panel">
        
        <p>
            <a href="{% url help_resources %}">Resources</a>
            |
            <a href="{% url help_buildings %}">Buildings</a>
            |
            <a href="{% url help_terrain %}">Terrain</a>
        </p>
        
        <h1>Buildings</h1>
        
        {% for building_kind in building_kinds %}
            <div id="{{ building_kind.slug }}">
                <h2>{{ building_kind.name }}</h2>
                
                <h3>Cost to Build</h3>
                
                {% for cost in building_kind.buildingcost_set.all %}
                    <div>{{ cost.amount }} {{ cost.resource_kind.name }}</div>
                {% empty %}
                    <div>No build costs.</div>
                {% endfor %}
                
                <h3>Cost to Run</h3>
                
                {% for cost in building_kind.buildingrunningcost_set.all %}
                    <div>{{ cost.rate }} {{ cost.resource_kind.name }}/hr</div>
                {% empty %}
                    <div>No running costs.</div>
                {% endfor %}
                
                <h3>Products</h3>
                
                {% for product in building_kind.products.all %}
                    <div>{{ product }}</div>
                {% empty %}
                    <div>No products.</div>
                {% endfor %}
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
