{% extends "site_base.html" %}

{% load uni_form_tags %}

{% block head_title %}Create a building{% endblock %}

{% block body_class %}building{% endblock %}

{% block body %}
    
    <p>
        <a href="{% url home %}">{{ settlement.player.name }}</a>
        &gt;
        <a href="{% url settlement_detail settlement.pk %}">{{ settlement.name }}</a>
    </p>
    
    <h1>Create a building</h1>
    
    {% for building in buildings %}
        <div class="resource-count">
            <b>{{ building.building_kind }}</b>
            <br />
        {% for cost in building.costs %}
            {% if cost.sufficient %}
                <span class="cost-sufficient">
            {% else %}
                <span class="cost-insufficient">
            {% endif %}
                {{ cost.amount }}
                {{ cost.resource_kind }}
            </span>
        {% endfor %}
        </div>
    {% endfor %}
    
    <form method="post" action="{% url building_create settlement.pk %}">
        {% csrf_token %}
        {{ form }}
    </form>
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
        });
    </script>
{% endblock %}