{% extends "site_base.html" %}

{% load uni_form_tags %}

{% block head_title %}Create a building{% endblock %}

{% block body_class %}building{% endblock %}

{% block body %}
    
    <p>
        <a href="{% url home %}">{{ settlement.player.name }}</a>
        &gt;
        <a href="{% url settlement_detail settlement.pk %}">{{ settlement.name }}</a>
    </p>
    
    <h1>Create a building</h1>
    
    {{ form.non_field_errors }}
    {{ form.kind.errors }}
    
    {% for building in buildings %}
        <div id="building-{{ building.building_kind.pk }}" class="resource-count">
            <b>{{ building.building_kind }}</b>
            <br />
        {% for cost in building.costs %}
            {% if cost.sufficient %}
                <span class="cost-sufficient">
            {% else %}
                <span class="cost-insufficient">
            {% endif %}
                {{ cost.amount }}
                {{ cost.resource_kind }}
            </span>
        {% endfor %}
        </div>
    {% endfor %}
    
    <form id="building_form" method="post" action="{% url building_create settlement.pk %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            $(".resource-count").click(function() {
                kind_id = this.id.split("-")[1];
                $("#id_kind").val(kind_id);
                $("#building_form").submit();
            });
        });
    </script>
{% endblock %}