{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    
    <h1>{% trans "Welcome to Manoria" %}</h1>
    
    <div class="welcome">
    
    <p>
        <b>Manoria</b> is an open-source MMO city building / resource
        management game written in 48 hours by Team 566 (James Tauber and
        Brian Rosner) for Django Dash 2010.
    </p>
    
    <p class="action">
        To play Manoria, first<br />
        <a href="{% url acct_signup %}">Sign Up</a><br />
        and<br />
        <a href="{% url acct_login %}">Log In</a>
    </p>
    
    <p>
        NOTE: the 48 hours aren't up yet so there's still lots going on and
        there will be bugs and database wipes until 01:00 EDT 2010-08-16.
    </p>
{% endblock %}
