{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}Leaderboard{% endblock %}

{% block body_class %}leaderboard{% endblock %}

{% block body %}
    
    <h1>Leaderboard</h1>
    
    <h2>Building Count Leaders</h2>
    {% if leaders_building_count %}
        <ul>
            {% for count, leader in leaders_building_count %}
                <li>{{ leader }} &mdash; {{ count }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h2>Gold Leaders</h2>
    {% if leaders_gold %}
        <ul>
            {% for count, leader in leaders_gold %}
                <li>{{ leader }} &mdash; {{ count }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}