{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}{{ continent.name }}{% endblock %}

{% block body_class %}continent{% endblock %}

{% block body_outer %}
    
    <div class="left-panel">
        <h1>{{ player.name }}</h1>
        
        <h2>Settlements</h2>
        
        {% if player.settlements.all %}
            <ul>
                {% for settlement in player.settlements.all %}
                    <li>
                        <a href="{% url settlement_detail settlement.id %}">{{ settlement.kind|title }} of {{ settlement.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {# <p><a href="{% url settlement_create %}">Create another settlement</a> (will not normally be able to just do this)</p> #}
        {% else %}
            <p>{{ player.name }} has no settlements yet.</p>
            <p><a href="{% url settlement_create %}">Create a settlement</a></p>
        {% endif %}
        
        <h2>Resources</h2>
        
        {% if player.resource_counts %}
            <p>These resources are attached to the player, not an individual settlement.</p>
            
            {% for resource_count in player.resource_counts %}
                <div class="resource-count">
                    <span class="resource">{{ resource_count.kind.name }}</span>
                    <span class="rate">({{ resource_count.rate|format_rate }}/hr;
                        {% if resource_count.limit %}limit {{ resource_count.limit|intcomma }}{% else %}no limit{% endif %})
                    </span>
                    <span class="count">{{ resource_count.amount|intcomma }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No player-level resources.</p>
        {% endif %}
    </div>
    
    <div class="window">
        {% render_map continent %}
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            $(".map").draggable();
            function resizeFrame() {
                var h = $(window).height();
                var w = $(window).width();
                $("div.left-panel").css("height", h - 106); // 123
                $("div.window").css("height", h - 85); // 83
                $("div.window").css("width", w - 341); // 341
            }
            $(window).load(resizeFrame);
            $(window).resize(resizeFrame);
        });
    </script>
{% endblock %}