{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}Resource Kinds{% endblock %}

{% block body_class %}resource_kind{% endblock %}

{% block body %}
    
    <h1>Resource Kinds</h1>
    
    {% for resource_kind in resource_kinds %}
        <div id="{{ resource_kind.slug }}">
            <h2>{{ resource_kind.name }}</h2>
            
            <h3>Produced By</h3>
            
            {% if resource_kind.produced_by.count %}
                <ul>
                    {% for product in resource_kind.produced_by.all %}
                        <li>{{ product.building_kind.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No buildings produce this resource.</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
