{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}Help : Resources{% endblock %}

{% block body_class %}help{% endblock %}

{% block body_outer %}
    
    <div class="left-panel">
        {% include "manoria/_player_left_panel.html" %}
    </div>
    
    <div class="main-panel">
        
        <p>
            <a href="{% url help_resources %}">Resources</a>
            |
            <a href="{% url help_buildings %}">Buildings</a>
            |
            <a href="{% url help_terrain %}">Terrain</a>
        </p>
        
        <h1>Resources</h1>
        
        {% for resource_kind in resource_kinds %}
            <div id="{{ resource_kind.slug }}">
                <h2>{{ resource_kind.name }}</h2>
                
                <h3>Buildings that Produce This</h3>
                
                {% if resource_kind.produced_by.count %}
                    <ul>
                        {% for product in resource_kind.produced_by.all %}
                            <li>{{ product.building_kind.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No buildings produce this resource.</p>
                {% endif %}
                
                <h3>Terrain that Contains This</h3>
                
                {% if resource_kind.settlementterrainkind_set.count %}
                    <ul>
                        {% for stk in resource_kind.settlementterrainkind_set.all %}
                            <li>{{ stk }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No terrain contains this resource.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
