{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}{{ settlement.name }}{% endblock %}

{% block body_class %}settlement{% endblock %}

{% block body_outer %}
    
    <div class="left-panel">
        
        <h1>{{ settlement.kind|title }} of {{ settlement.name }}</h1>
        
        <p>
            <b>Location</b>: <i>{{ settlement.continent.name }}</i>@{{ settlement.x }},{{ settlement.y }}
            <br/>
            <b>Player</b>: <i><a href="{% url home %}">{{ settlement.player.name }}</i></a>
        </p>
        
        <h2>Resources</h2>
        
        <div id="resources">loading...</div>
        
        <h2>Build Queue</h2>
        
        <div id="build-queue">loading...</div>
        
    </div>
    
    <div id="settlement-map">loading...</div>
    
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }
            function resizeFrame() {
                var h = $(window).height();
                var w = $(window).width();
                $("div.left-panel").css("height", h - 106); // 123
                $("div.window").css("height", h - 85); // 83
                $("div.window").css("width", w - 341); // 341
            }
            $(window).load(resizeFrame);
            $(window).resize(resizeFrame);
            
            var timers = [];
            
            function update_resource_count() {
                $("#resources").load("{% url fragment_resource_count settlement.pk %}");
                $("#build-queue").load("{% url fragment_build_queue settlement.pk %}");
                $("#settlement-map").load("{% url fragment_settlement_map settlement.pk %}", function() {
                    $('a[rel*=facebox]').facebox({
                        loadingImage: '{{ STATIC_URL }}pinax/img/facebox/loading.gif',
                        closeImage: '{{ STATIC_URL }}pinax/img/facebox/closelabel.gif'
                    });
                    $(document).bind('reveal.facebox', function() {
                        $("form.in_facebox").submit(function() {
                            form = this;
                            jQuery.facebox(function($) {
                                fields = jQuery(form).find("input[type='text']").filter(":enabled");
                                params = {}
                                fields.each(function() {
                                    params[this.name] = this.value;
                                });
                                jQuery.post(form.action, params,
                                    function(data, textStatus) {
                                        jQuery.facebox(data);
                                    }
                                );
                            });
                            return false;
                        });
                    });
                    resizeFrame();
                    $(".map").draggable();
                });
                
                $.get("{% url ajax_resource_count settlement.pk %}", function(data) {
                    if (data.next_change) {
                        setTimeout(update_resource_count, data.next_change);
                    }
                    var time_retrieved = new Date().getTime();
                    if (timers) {
                        for (var i=0; i < timers.length; i++) {
                            clearInterval(timers[i]);
                        }
                        timers = [];
                    }
                    function setup_timer(resource) {
                        var slug = resource.slug;
                        var limit = resource.limit;
                        var rate = resource.rate;
                        var amount = resource.amount;
                        return setInterval(function() {
                            var time_now = new Date().getTime();
                            var change = time_now - time_retrieved;
                            var new_amount = amount + (rate * change / 3600000);
                            // if (new_amount < 0) {
                            //     new_amount = 0;
                            // } else if (new_amount > limit) {
                            //     new_amount = limit;
                            // }
                            $("#" + slug + "-count").text(addCommas(Math.round(new_amount)));
                        }, 1000);
                    }
                    for (var i=0; i < data.resources.length; i++ ) {
                        timers.push(setup_timer(data.resources[i]));
                    }
                });
            }
            update_resource_count();
        });
    </script>
{% endblock %}