{% extends "site_base.html" %}

{% load humanize %}
{% load manoria_tags %}

{% block head_title %}{{ settlement.name }}{% endblock %}

{% block body_class %}settlement{% endblock %}

{% block body_outer %}
    
    <div class="left-panel">
        
        <h1>{{ settlement.kind|title }} of {{ settlement.name }}</h1>
        
        <p>
            <b>Location</b>: <i>{{ settlement.continent.name }}</i>@{{ settlement.x }},{{ settlement.y }}
            <br/>
            <b>Player</b>: <i><a href="{% url home %}">{{ settlement.player.name }}</i></a>
        </p>
        
        <h2>Resources</h2>
        
        <div id="resources">loading...</div>
        
        <h2>Build Queue</h2>
        
        {% if settlement.build_queue %}
            {% for building in settlement.build_queue %}
                <div class="build-queue-item">
                    <a href="{% url building_detail building.pk %}">{{ building.kind.name }}</a>
                    @{{ building.x }},{{ building.y }}
                    <br />
                    {% if building.status == "queued" %}
                    <span class="start">starting in {{ building.construction_start|timeuntil }}</span>
                    <br />
                    {% endif %}
                    <span class="finish">finishing in {{ building.construction_end|timeuntil }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No buildings in the build queue for this settlement.</p>
        {% endif %}
        
        <div id="debug"></div>
        
    </div>
    
    <div class="window">
        {% render_map settlement %}
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $(function() {
            $(".map").draggable();
            function resizeFrame() {
                var h = $(window).height();
                var w = $(window).width();
                $("div.left-panel").css("height", h - 106); // 123
                $("div.window").css("height", h - 85); // 83
                $("div.window").css("width", w - 341); // 341
            }
            $(window).load(resizeFrame);
            $(window).resize(resizeFrame);
            
            function update_resource_count() {
                $("#resources").load("{% url fragment_resource_count settlement.pk %}");
                $.get("{% url ajax_resource_count settlement.pk %}", function(data) {
                    if (data.next_change) {
                        $("#debug").text("change in " + (data.next_change / 1000) + " second(s)");
                        setTimeout(update_resource_count, data.next_change);
                    } else {
                        $("#debug").text("no more changes");
                    }
                    var time_retrieved = new Date().getTime();
                    function setup_timer(resource) {
                        var resource = data.resources[i];
                        var slug = resource.slug;
                        var limit = resource.limit;
                        var rate = resource.rate;
                        var amount = resource.amount;
                        setInterval(function() {
                            var time_now = new Date().getTime();
                            var change = time_now - time_retrieved;
                            var new_amount = amount + (rate * change / 3600000);
                            // if (new_amount < 0) {
                            //     new_amount = 0;
                            // } else if (new_amount > limit) {
                            //     new_amount = limit;
                            // }
                            $("#" + slug + "-count").text(Math.round(new_amount));
                        }, 1000);
                    }
                    for (var i=0; i < data.resources.length; i++ ) {
                        setup_timer(data.resources[i])
                    }
                });
            }
            update_resource_count();
        });
    </script>
{% endblock %}